# Replace {YOUR_DOMAIN} with the name of your domain/subdomain.
# Replace {DIR_NAME} with the name of the directory where the sources of the website/application dedicated to your domain are located.
# Replace {APP_NAME} with the name of the website/application dedicated to your domain.
server {
  include  snippets/https-def.conf;

  server_name    www.{YOUR_DOMAIN} {YOUR_DOMAIN};

  include  snippets/snakeoil.conf;

  root /var/www/src/{DIR_NAME};
  # you can include some extra configuration file
  #include /var/www/src/{DIR_NAME}/var/nginx/server.conf;

  location ~* \.php$ {
    include         snippets/php-fpm.conf;
    # you can overwrite some php-ini parameters
    #fastcgi_param PHP_ADMIN_VALUE "error_log=/var/www/logs/{YOUR_DOMAIN}-php-error.log;upload_max_filesize = 6M;";
    # you can set custom parameters
    #fastcgi_param APPLICATION_LOGS_DIR  /var/www/logs/{APP_NAME};
    #fastcgi_param APPLICATION_CACHE_DIR /var/www/cache/{APP_NAME};
    #fastcgi_param APPLICATION_DATA_DIR  /var/www/data/{APP_NAME};
  }
  access_log /var/log/nginx/access_{APP_NAME}.log;
  error_log /var/log/nginx/error_{APP_NAME}.log;
}