# Replace {YOUR_DOMAIN}, {YOUR_OTHER_DOMAIN} with the names of all your domains/subdomains for which you want the redirection to https://www.....
server {
    listen 80;
    listen [::]:80;

    server_name   {YOUR_DOMAIN} *.{YOUR_DOMAIN}
                  {YOUR_OTHER_DOMAIN} *.{YOUR_OTHER_DOMAIN};

    root /var/www/cert_challenge;

    location / {
        if (-f $request_filename){
            break;
        }
        if ($http_host !~ "^www\."){
            return 301 https://www.$http_host$request_uri;
        }
        return 301 https://$http_host$request_uri;
    }
}
